<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add password</title>
</head>
<body>

    <form method="post">
        <label for="site">Site:</label><br>
        <input type="text" id="site" name="site" placeholder="example site" size="30" required><br>
        <label for="site_url">URL:</label><br>
        <input type="url" id="site_url" name="site_url" placeholder="https://example.com" pattern="https://.*"
               size="30" required><br>
        <label for="login">Login:</label><br>
        <input type="text" id="login" name="login" placeholder="user" size="30" required><br>
        <label for="password">Password:</label><br>
        <input type="text" id="password" name="password" placeholder="********" size="30" required><br><br>
        <input type="submit" value="Add">
    </form>

</body>
</html>