<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All passwords</title>
</head>
<body>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>site name</th>
                <th>login</th>
            </tr>
        </thead>
        <tbody>
            {% for item in all_passwords %}
            <tr>
                <td><a href="{{url_for('show_details', password_id=item.id) }}">{{item.site_name}}</a></td>
                <td>{{item.login}}</td>
                <td><a href="{{url_for('delete_entry', password_id=item.id) }}">✘</a></td>
            </tr>

            {% endfor %}
        </tbody>
    </table><br>
    <form>
         <button type="submit" formaction="{{url_for('add_new_entry')}}">Add new password</button>
        <button type="submit" formaction="{{url_for('home')}}">Log out</button>
    </form>
</body>
</html>